.wheel {
  width: 55vw;
  height: 55vw;
  max-width: 500px;
  max-height: 500px;
  margin-left: 50px;
  border-radius: 50%;
  position: absolute;
  animation-name: wheel;
  animation-duration: 10s;
  border: 2px solid black;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.line {
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  position: absolute;
  transform-origin: 0% 0%;
  background-color: black;
}

.line:nth-of-type(2) {
  transform: rotate(60deg);
}

.line:nth-of-type(3) {
  transform: rotate(120deg);
}

.line:nth-of-type(4) {
  transform: rotate(180deg);
}

.line:nth-of-type(5) {
  transform: rotate(240deg);
}

.line:nth-of-type(6) {
  transform: rotate(300deg);
}

.cabin {
  width: 20%;
  height: 20%;
  border: 2px solid;
  position: absolute;
  background-color: red;
  transform-origin: 50% 0%;
  animation: cabins 10s ease-in-out infinite;
}

.cabin:nth-of-type(1) {
  top: 50%;
  right: -8.5%;
}

.cabin:nth-of-type(2) {
  right: 17%;
  top: 93.5%;
}

.cabin:nth-of-type(3) {
  right: 67%;
  top: 93.5%;
}

.cabin:nth-of-type(4) {
  top: 50%;
  left: -8.5%;
}

.cabin:nth-of-type(5) {
  top: 7%;
  left: 17%;
}

.cabin:nth-of-type(6) {
  top: 7%;
  right: 17%;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes cabins {
  0% {
    transform: rotate(0deg);
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: purple;
  }

  100% {
    transform: rotate(-360deg);
  }
}